* {
    margin: 0;
    padding: 0%;
}
.body{
    background-color: rgb(253, 251, 251);
}
#cabecalho {
   background-color: #28ac9f;
   padding-bottom: 20px;
   margin-bottom: 100px;
   position: fixed;
   width: 100%;
}
#titulo {
    width: 450px;
    color: rgba(44, 44, 44, 0.753); 
    text-transform: uppercase; 
    font-size: 35px;
    margin: 0;
    padding: 35px 0 0 250px;
}
#cabecalho ul{
    padding-left: 60%;
}
#cabecalho li{
    display: inline;
    font-size: 20px;
    color:  rgba(44, 44, 44, 0.753); 
    text-transform: uppercase; 
    padding: 10px;
}
#cabecalho li:hover {
    color: rgba(255, 253, 253, 0.851); 
}

.estrutura {
    display: inline-flex;
    margin-top: 100px;
}
.section{
    background-color: rgb(233, 228, 228);
    color: rgba(44, 44, 44, 0.851); 
    text-transform: uppercase;
    text-align: center;
}
.section h1 {
    font-size: 26px;
    padding-bottom: 37px;
}
.section p{
    padding: 12px;
}
.section div{
    padding: 40px 0 40px 0;
}
.section a{
    padding: 0 10px 0 10px;
}
#minha_foto {
    width: 400px;
    margin: 80px 100px 70px 100px;
    border-radius: 100px;
}
.aside{
}
.aside h1{
    padding: 30px 0 30px 0;
}
.aside p{
    width: 400px;
    padding: 10px 0 10px 0;
    margin: auto;
    color: rgba(44, 44, 44, 0.753);
}
.article {
    background-color: rgb(253, 251, 251);
    color: rgba(44, 44, 44, 0.851);
}
.article h1 {
    padding: 20px 0 30px 0;
    font-size: 25px;
    text-transform: uppercase;
    padding: 100px 70px 50px;
}
.article p {
    padding: 15px;
    text-transform: uppercase;
    padding: 20px 70px 30px;
}
#licoes_aprendidas1 {
    color: rgba(44, 44, 44, 0.851); 
}
#licoes_aprendidas1 h1{
    padding: 80px 70px 50px;
    font-size: 25px;
    text-transform: uppercase; 
}
#licoes_aprendidas1 ol{
    display: inline-block;
}
#licoes_aprendidas1 li{
    font-size: 18px;
    list-style: decimal;
    padding: 15px 0px 15px;
    margin: 0 180px 0 180px;
    text-transform: uppercase; 
}

#licoes_a_aprender1 {
    color: rgba(44, 44, 44, 0.851);
    padding-bottom: 70px; 
}
#licoes_a_aprender1 h1{
    padding: 80px 70px 50px;
    font-size: 25px;
    text-transform: uppercase; 
}
#licoes_a_aprender1 ul{
    display: inline-block;
}
#licoes_a_aprender1 li{
    font-size: 18px;
    list-style: none;
    padding: 15px 0px 15px;
    margin: 0 180px 0 180px;
    text-transform: uppercase; 
}
#rodape{
    background-color: #28ac9f;
    color:  rgba(44, 44, 44, 0.753);
    text-transform: uppercase;
    text-align: center;
    height: 550px;
}
#rodape h1{
    padding: 60px 0 25px 0;
    font-size: 35px;
}
#rodape ul{
    display: inline-block;
}
#rodape li{
    list-style: none;
    padding: 40px 40px 30px 40px;
    margin: 30px 15px 20px 15px;
    width: 500px;
    text-align: left;
    border: 2px solid  rgb(233, 228, 228);
    border-radius: 12px;
}
#rodape a{
    color:  rgba(233, 228, 228, 0.958);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
#rodape a:hover{
    font-size: 21px;
}
#bloco1 , #bloco2, #bloco3, #bloco4{
    padding-top: 45px;
    font-size: 16px;
}
#rodape p{
    font-size: 15px;
    padding-top: 11px;
}
