* {
    margin: 0;
    padding: 0%;
}
#cabecalho {
   background-color: #28ac9f;
   padding-bottom: 20px;
   top: 0;
}
#titulo {
    width: 450px;
    color: rgba(44, 44, 44, 0.753); 
    text-transform: uppercase; 
    font-size: 35px;
    margin: 0;
    padding: 35px 0 0 250px;
}
#cabecalho ul{
    padding-left: 60%;
}
#cabecalho li{
    display: inline;
    font-size: 20px;
    color: rgba(44, 44, 44, 0.851); 
    text-transform: uppercase; 
    padding: 10px;
}
#cabecalho li:hover {
    color: rgba(255, 253, 253, 0.851); 
}

.estrutura {
    display: inline-flex;
}
.section{
    background-color: rgb(233, 228, 228);
    color: rgba(44, 44, 44, 0.851); 
    text-transform: uppercase;
    text-align: center;
}
.section h1 {
    font-size: 26px;
    padding-bottom: 37px;
}
.section p{
    padding: 12px;
}
.section div{
padding: 45px 0 45px 0;
}
.section a{
    padding: 0 10px 0 10px;
}
#minha_foto {
    width: 400px;
    margin: 100px;
    border-radius: 100px;

}
.aside h1{
padding: 30px 0 30px 0;
}
.article {
    background-color: rgb(253, 251, 251);
    color: rgba(44, 44, 44, 0.851); 
}
.article h1 {
    padding: 20px 0 30px 0;
    font-size: 25px;
    text-transform: uppercase;
    padding: 100px 70px 50px;
}
.article p {
    padding: 15px;
    text-transform: uppercase;
    padding: 20px 70px 30px;
}
#licoes_aprendidas {
    color: rgba(44, 44, 44, 0.851); 

}
#licoes_aprendidas h1{
    padding: 80px 70px 50px;
    font-size: 25px;
    text-transform: uppercase; 
}
#licoes_aprendidas ul{
    display: inline-block;
}
#licoes_aprendidas li{
    font-size: 18px;
    list-style: none;
    padding: 15px 130px 15px;
    margin-right: 130px;
    text-transform: uppercase; 
}

#licoes_a_aprender {
    color: rgba(44, 44, 44, 0.851);
    padding-bottom: 40px; 

}
#licoes_a_aprender h1{
    padding: 80px 70px 50px;
    font-size: 25px;
    text-transform: uppercase; 
}
#licoes_a_aprender ul{
    display: inline-block;
}
#licoes_a_aprender li{
    font-size: 18px;
    list-style: none;
    padding: 15px 130px 15px;
    margin-right: 130px;
    text-transform: uppercase; 
}

.rodape{
    background-color: #28ac9f;
    color: rgba(44, 44, 44, 0.851);
    text-transform: uppercase;
    text-align: center;
    height: 650px;

}

.rodape h1{
    padding: 70px 0 50px 0;
}
.rodape ul{
    display: inline-block;
}
.rodape li{
    list-style: none;
    padding: 40px 40px 30px 40px;
    margin: 30px 15px 20px 15px;
    width: 500px;
    text-align: left;
    border: 2px solid  rgb(233, 228, 228);
    border-radius: 12px;
}
.rodape a{
    color:  rgba(233, 228, 228, 0.958);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.rodape a:hover{
    font-size: 21px;
}
#bloco1 , #bloco2, #bloco3, #bloco4{
    padding-top: 45px;
    font-size: 16px;
}
.rodape p{
    font-size: 15px;
    padding-top: 11px;
}
